body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.hidden {
  display: none;
}

/* LOGIN */
#login-screen {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* DASHBOARD */
#dashboard {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #020617;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar li:hover {
  background: #1e293b;
}

/* CONTENT */
main {
  flex: 1;
  padding: 20px;
}
